
build/
bin/
out/
.cache/
vcpkg_installed/

storage/music/*
storage/covers/*
!storage/music/.gitkeep
!storage/covers/.gitkeep

node_modules/
dist/
.env*
*.log

.vs/
.vscode/
*.sln
*.vcxproj
*.user
.DS_Store
Thumbs.db